<h1><%= @contact.first_name %> <%= @contact.last_name %></h1>
<p><strong>Email:</strong> <%= @contact.email %></p>
<p><strong>Notes:</strong> <%= @contact.notes %></p>


<form action="/contacts/<%= @contact.id.to_i %>/edit">
	<input type="submit" name="Edit Contact" value="Edit Contact">
</form>


<form action="/contacts/<%= @contact.id.to_i %>" method="post">
	<input type="hidden" name="_method" value="delete">
	<input type="submit" name="delete_contact" value="Delete Contact">
</form>